<mat-toolbar style="height: 4vh;">
    <span>Units: / block</span>
    <span style="flex: 1 1 auto;"></span>
</mat-toolbar>

<app-planet-table-view style="float: left; width: 50%; display: inline-block" canSelect=true canOnlySelecteOwn="true"
    (selectionChanged)="onSelectionChanged('left', $event)"></app-planet-table-view>
<app-planet-table-view style="float: right; width: 50%; display: inline-block" canSelect=true canOnlySelecteOwn="false"
    (selectionChanged)="onSelectionChanged('right', $event)"></app-planet-table-view>