# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SpaceY.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\tivor\SpaceY\.idea\.idea.SpaceY\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
