<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" />
</mat-form-field>

<mat-table [dataSource]="planets" matSort>
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
    <mat-cell *matCellDef="let planet">{{planet?.planetId}}</mat-cell>
    <mat-footer-cell *matFooterCellDef><b>Total: {{myPlanets?.length}}</b></mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="cost">
    <mat-header-cell *matHeaderCellDef mat-sort-header="unitCost">Unit Cost</mat-header-cell>
    <mat-cell *matCellDef="let planet">{{planet?.unitCost}}</mat-cell>
    <mat-footer-cell *matFooterCellDef>-</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="currentUnits">
    <mat-header-cell *matHeaderCellDef mat-sort-header="currentUnits">Current Units</mat-header-cell>
    <mat-cell *matCellDef="let planet">{{planet?.staticUnits + planet?.dynamicUnits}}</mat-cell>
    <mat-footer-cell *matFooterCellDef>{{getTotalOwnedUnits()}}</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="currentOwner">
    <mat-header-cell *matHeaderCellDef mat-sort-header="ownedBy">Current Owner</mat-header-cell>
    <mat-cell *matCellDef="let planet">{{planet?.owner}}</mat-cell> <!-- TODO: CurrentPlayer-->
    <mat-footer-cell *matFooterCellDef>-</mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator></mat-paginator>