<div>
    <mat-form-field style="width: 95%">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="search" (keyup)="applyFilter()" placeholder="#owner = $me #unitCost > 5 #units lte 500"/>
    </mat-form-field>
  <mat-table [dataSource]="planets" matSort>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox [disabled]="singleSelect" (change)="$event ? changeSelectAll($event) : null"></mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let planet">
        <mat-checkbox *ngIf="canSelectPlanet(planet)"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(planet) : null"
                      [checked]="selection.hasValue() && selection.isSelected(planet)"></mat-checkbox>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>{{selection.selected.length}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let planet">{{planet.renderPlanetId()}}</mat-cell>
      <mat-footer-cell *matFooterCellDef><b>Total: {{myPlanets?.length}}</b></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="cost">
      <mat-header-cell *matHeaderCellDef mat-sort-header="unitCost">Unit Cost</mat-header-cell>
      <mat-cell *matCellDef="let planet">{{planet.unitCost}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>-</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="currentUnits">
      <mat-header-cell *matHeaderCellDef mat-sort-header="units">Current Units</mat-header-cell>
      <mat-cell *matCellDef="let planet">{{planet.getTotalUnits()}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>{{getTotalOwnedUnits()}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="productionRate">
      <mat-header-cell *matHeaderCellDef mat-sort-header="unitProductionRate">Unit Production Rate</mat-header-cell>
      <mat-cell *matCellDef="let planet">{{planet.unitProductionRate}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>{{getTotalUnitProductionRate()}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="currentOwner">
      <mat-header-cell *matHeaderCellDef mat-sort-header="owner">Current Owner</mat-header-cell>
      <mat-cell *matCellDef="let planet">{{planet.renderOwnership()}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>-</mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" style="position: sticky"></mat-header-row>
    <mat-footer-row *matFooterRowDef="displayedColumns" style="position: sticky"></mat-footer-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="changeSelectOne()"></mat-row>
  </mat-table>
  <mat-paginator></mat-paginator>
</div>
